{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="login">
    <div class="d-flex justify-content-center mt-5" >
        <div class="card " style="width: rem;">
            <div class="card-body">
                <h1>Login</h1>

                <form method="POST" action="">
                    {% csrf_token %}
                    <table>
                        <div>
                            <label class="form-label"> Username:</label>
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>

                        <div>
                            <label class="form-label">Password:</label>
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>

                        <div>

                            <input class="btn login_btn btn-outline-secondary mt-2" type="submit" value="Login">
                        </div>
                    </table>
                </form>

                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}