{% extends 'base.html' %}

{% block meta %}
    <title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="login">
    <div class="d-flex justify-content-center mt-5">
        <div class="card w-50" style="width: 18rem;">
            <div class="card-body">
                <h1>Formulir Registrasi</h1>
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <div>
                            <td></td>
                            <td><input type="submit" name="submit" value="Daftar"/></td>
                        </div>
                    </table>
                </form>
            </div>
        </div>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    </div>

{% endblock content %}