{% extends 'base.html' %}

{% block meta %}
    <title>TODOLIST | {{ nama }}</title>
{% endblock meta %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .card:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.06);
    }
    </style>
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">{{ nama }}</span>
            <a class="btn btn-sm btn-danger" href="{% url 'todolist:logout' %}">Logout</a>
        </div>
    </nav>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for item in list_todolist %}
            <div class="d-flex justify-content-center mt-1">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <div>
                        <h5 class="card-title">{{ item.title }}</h5>
                    </div>
                    <div>
                        <th>{{ item.description }}</th>
                    </div>
                    <div>
                        <th>{{ item.date }}</th>
                    </div>
                        <th>{% if item.is_finished %}
                            Selesai
                        {% else %}
                            Belum selesai
                        {% endif %}</th>
                        <div><button class="btn btn-outline-secondary"><a href="{% url 'todolist:change_status' id=item.id %}">Change</a></button>
                        <button class="btn btn-outline-secondary"><a href="{% url 'todolist:delete_task' id=item.id %}">Delete</a></button></th></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    <label class=" d-flex justify-content-center mt-5">Sesi terakhir login: {{ last_login }}</label>
    <div class="d-flex justify-content-center mt-5">
    <a class="btn btn-outline-secondary " href="{% url 'todolist:create_task' %}">Create New Task</a>
    </div>


{% endblock content %}